@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;
@use '../utilities/functions' as f;

.success-modal{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(v.$black, .5);
    padding: 25rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &.disabled{
        display: none;
    }
}

.success-modal-container{
    @include m.card-feature;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}