
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --gradient-intro-dark:hsl(353, 100%, 62%);
    --gradient-intro-light: hsl(13, 100%, 72%);
    --pading-left-sections: 150px;
    --gradient-background-body-dark: hsl(237, 17%, 21%);
    --gradient-background-body: hsl(237, 23%, 32%);
    --headings-color: hsl(208, 49%, 24%);
    --text-content:  hsl(207, 13%, 34%);
    --color-footer-background: hsl(240, 10%, 16%);
    --color--footer-text: hsl(240, 2%, 79%);
    --color--hover-button: hsl(355, 100%, 74%);

}

h1{
    font-size: 2.5em;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    text-align: center;
    color: var(--headings-color);
}

h4{
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    color: var(--headings-color);
    font-weight: 700;
    margin-bottom: 20px;

}

.button{
    text-decoration: 0;
    padding: 10px 25px;
    background: #fff;
    border-radius: 25px;
    color: var(--gradient-intro-dark);
    font-weight: 500;
}

.button:hover, .button--signUp:hover{
    background-color: var(--color--hover-button);
    color: white;
}


.flexbox-articles{
    display: flex;
    flex-direction: column;
    gap: 65px;
    color: var(--text-content);
    line-height: 30px;
    font-family: 'Overpass', sans-serif;
}

.mobile{
    display: none;
}

/* HEADER */
/* header menu */

header{
    height: 75vh;
    background: url(../images/bg-pattern-intro.svg), linear-gradient(45deg, var(--gradient-intro-light), var(--gradient-intro-dark));
    background-position: 25%;
    padding: 50px var(--pading-left-sections) 100px;
    border-radius: 0 0 0 100px;
    position: relative;
}

.container-menu{
    display: flex;
}

.submenu-login__container-menu {
    visibility: visible;
}

.submenu-login__container-menu{
    margin-left: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flexbox__container-menu{
    display: flex;
    gap: 60px;
}

.menu__container-menu{
    display: flex;
    align-items: stretch;
}

.menu__container-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.menu__container-menu ul li{
    list-style: none;
}

.menu__container-menu ul li .link__menu{
    text-decoration: none;
    color: white;
    padding: 15px 0 15px 0;

}
 
.items__menu{
    position: relative;
    display: flex;
    justify-content: center;
}



.item__menu:hover{
    text-decoration: underline;

}

.item__menu:hover > img{
    transform: rotate(180deg);
}

.item__menu:hover > .items__submenu{
    display: block;
    visibility: visible;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.144);
}


.items__submenu{
    background-color: white;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 30px 20px 15px;
    position: absolute;
}
.item__submenu{
    padding: 5px;
}

.link__submenu{
    width: 100%; 
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: .9em;
    width: 100%;
}

.link__submenu:hover{
    font-weight: 600;
}

.login__container-menu{
    display: flex;
    align-items: flex-start;
}

.login__container-menu a{
    text-decoration: none;
    height: auto;
    padding: 10px 35px;
    color: white;

}

.login__container-menu a:last-child{
    color: var(--gradient-intro-dark);
    background-color: white;
    border-radius: 25px;
    font-weight: 500;
}

.login__container-menu a:last-child:hover{
    background-color: var(--color--hover-button);
    color: white;
}

.header__container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.header__container-text p{
    color: white;
    margin: 20px;
}

.buttons-header__container-text{
    margin: 30px;
}

.button--learnMore{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 5px;
}

.button--learnMore:hover{
    background-color: white;
    color: var(--color--hover-button);
    border: none;
}


/* DESIGN PART */
.container-design-site{
    height: 1000px;
    padding: 150px 0 150px var(--pading-left-sections);
    margin-bottom: 100px;

}

.container-design-site__padding{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.articles__itemsDesign{
    width: 100%;
    margin-right: 55%;
    padding-top: 100px;
}

.container-design-site h3{
    width: 100%;
}

.image__itemsDesign{
    position: absolute;
    left: 50%;
    width: 50%;
    overflow: hidden;     /* <--------- VERY IMPORTANT*/
}






/* INFRAESTRUCTURE PART */

.container-infrastructure-site{
    height: 420px;
    background: url(../images/bg-pattern-circles.svg), linear-gradient(95deg, var(--gradient-background-body-dark),var(--gradient-background-body));
    background-repeat: no-repeat;
    background-position: -55% 80%;
    border-radius: 0 100px 0 100px;
    padding-left: 80px;

}

.container-itemsInfrastructure{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.container-images__itemsInfrastrucutre{
    position: absolute;
    top: -60px;
}

.articles__itemsInfrastructure{
    color: #fff;
    margin-left: 550px;
    padding-right: 100px;
    align-self: center;
    height: 100%;
}

.article__itemsInfrastrucutre{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.article__itemsInfrastrucutre h3{
    color: #fff;
    margin-bottom: 20px;
}

.article__itemsInfrastrucutre p{
    flex-basis: auto;
}

/* tooling part */

.container-tooling-site{
    height: 1040px;
    padding: 150px 0 150px var(--pading-left-sections);
    padding-right: var(--pading-left-sections);
}

.container-itemsTooling{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.articles__itemsTooling{
    padding-left: 55%;
    margin-top: 200px;
}

.image__itemsTooling{
    position: absolute;
    right: 50%;
    overflow: hidden;
}

/* FOOTER PART */
.container-footer{
    background-color: var(--color-footer-background);
    padding: 75px 150px;
    display: flex;
    gap: 150px;
    border-radius: 0 100px 0 0;
}

.container-footer li{
    list-style: none;
}

.footer-menu{
    width: 100%;
    display: flex;
}

.category__footer-menu{
    width: 33.3%;
    color: #fff;
}

.category__footer-menu li:first-child{
    margin-top: 30px;
}

.subcategory__footer-menu{
    padding: 10px 0;
}

.subcategory__footer-menu a{
    text-decoration: none;
    color: var(--color--footer-text);
}

.subcategory__footer-menu a:hover{
    text-decoration: underline;
}



/* -------- RESPONSIVE -------- */

/* HEADER  */
@media screen and (max-width: 1000px){
    header{
        padding: 50px 50px 100px;
    }
}

@media screen and (max-width: 850px){
    header{
        padding: 50px 20px 80px;
        height: auto;
        position: relative;

    }

    .container-menu{
        justify-content: space-between;
    }

    .submenu-login__container-menu{
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        width: auto;
        justify-content: center;
        margin-left: 0;
        width: calc(100% - 50px);
        top: 100px;
    }

    .menu__container-menu{
        text-align: center;
        padding: 20px 0;
    }

    .items__menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item__menu{
        width: 90%;
    }
    .menu__container-menu ul li .link__menu {
        color: var(--headings-color);
    }


    .menu__container-menu ul ul{
        margin-top: 20px;
        position: relative;
        display: none;
        background: rgba(202, 202, 202, 0.603);
        font-weight: 500;
        border-bottom: 0;
    }

    .link__submenu{
        color: rgb(85, 85, 85);
    }

    .item__menu:hover {
        text-decoration: none;
        color: rgb(85, 85, 85);
    }

    .item__menu:hover > .items__submenu {
        box-shadow: none;
    }
    .item__menu img{
        content: url(../images/icon-arrow-dark.svg);
    }


    .login__container-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid rgba(128, 128, 128, 0.336);
    }

    .login__container-menu a {
        color: var(--headings-color);
    }

    .login__container-menu a:last-child{
        color: #fff;
        background: linear-gradient(-90deg, var(--gradient-intro-dark), var(--gradient-intro-light));
    }

    .loginMobile__container-menu{
        display: block;
    }

    .loginMobile__container-menu img{
        cursor: pointer;
    }

    .header__container-text p{
        text-align: center;
        margin: 30px 0;
    }

    .button--start{
        padding: 10px 10px;
    }

    .visible{
        visibility: visible;
    }
}

/* DESIGN SECTION */

@media screen and (max-width: 1000px){
    .container-design-site{
        padding: 100px 30px;
        height: auto;
    }

    .container-design-site__padding{
        justify-content: center;
    }

    .image__itemsDesign{
        margin-top: 20px;
        position: relative;
        order: 2;
        left: 0;
        width: auto;
        max-width: 500px;
    }

    .image__itemsDesign img{
        width: 100%;
    }

    .articles__itemsDesign{
        order: 3;
        margin: 0;
        text-align: center;
        padding-top: 30px;
    }

}

/* Infrastructure SECTION  */
@media screen and (max-width: 1000px){
    .container-infrastructure-site{
        height: auto;
        background-position: 0% -100%;
        background-size: contain;
        padding: 0 50px;
    }

    .container-itemsInfrastructure{
        flex-wrap: wrap;
        height: auto;
        gap: 0;
    }

    .container-images__itemsInfrastrucutre{
        position: relative;
        width: 90%;
        top: -120px;
    }

    .container-images__itemsInfrastrucutre img{
        width: 100%;
    }

    .articles__itemsInfrastructure {
        margin-left: 0;
        padding: 20px 20px 80px;
        margin-top: -80px;
    }
}
/* TOOLING PART */

@media screen and (max-width: 1000px){
    .container-tooling-site{
        padding: 100px 30px;
    }

    .container-itemsTooling{
        justify-content: center;

    }
    .articles__itemsTooling{
        order: 2;
        margin-top: 30px;
        padding: 0;
        text-align: center;
    }

    .image__itemsTooling {
        position: relative;
        order: 1;
        width: 90%;
        right: auto;
    }

    .image__itemsTooling img {
        content: url(../images/illustration-laptop-mobile.svg);
        width: 100%;
        
    }
}

/* FOOTER */
@media screen and (max-width: 1000px){
    .container-footer {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .footer-menu{
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        gap: 55px;
    }

    .category__footer-menu{
        text-align: center;
    }

    .category__footer-menu li:first-child{
        margin-top: 20px;
    }
}
