@use '../utilities/variables' as v;

body{
    font-family: v.$font-family;
}

h1{
    font-size: 2.5em;
    color: v.$grayish-blue;
}

h3{
    font-size: 4rem;
}

p{
    font-size: v.$body-font-size;
    font-weight: 700;
    color: v.$grayish-blue;
}
