* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.section {
  padding: 0 7rem;
  font-family: 'Karla', sans-serif;
}

.nav {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.btn {
  color: #2b272f;
  padding: .8rem 1.5rem;
  border: 2px solid #2b272f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'DM Serif Display', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  gap: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: #846996;
}

.navbar__link:hover {
  font-weight: 700;
  color: #2b272f;
}

.navbar__link--dark {
  color: #2b272f;
  padding: .3rem 1.5rem;
  border: 2px solid #2b272f;
}

.navbar__link--dark:hover {
  font-weight: 400;
  color: #fafafa;
  background: #2b272f;
}

.header {
  padding-top: 6rem;
  height: 90vh;
  background: #2b272f;
  position: relative;
}

.header::before {
  content: url("../images/bg-pattern-intro-left-desktop.svg");
  position: absolute;
  top: 70%;
  left: 0;
}

.header::after {
  content: url("../images/bg-pattern-intro-right-desktop.svg");
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: #fff;
}

.header__inf {
  padding-top: 4rem;
  position: relative;
}

.header__inf::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
}

.header__inf h1 {
  font-family: "DM Serif Display", serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.header__inf p {
  padding: 2rem 0;
  font-weight: 400;
  line-height: 1.5rem;
}

.header__btn {
  color: #fff;
  padding: .8rem 1.5rem;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  font-size: 1rem;
  padding: .6rem 2rem;
}

.header__btn:hover {
  background-color: #fff;
  color: #2b272f;
}

.main {
  padding-top: 18rem;
  padding-bottom: 5rem;
  background: #fff;
}

.main__title {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.main__title::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 1px;
  top: 0;
  left: 0;
  background: #846996;
}

.main__sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.main__sections h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.main__sections p {
  line-height: 1.5rem;
  color: #2d2640;
}

.main-logo {
  margin: 6rem 0 4rem 0;
  background: url(../images/bg-pattern-intro-right-desktop.svg) 100% no-repeat, #2b272f;
  padding: 3rem 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo__title {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  width: 50%;
  line-height: 3rem;
}

.main-logo__btn {
  color: #fafafa;
  padding: .8rem 1.5rem;
  border: 2px solid #fafafa;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.main-logo__btn:hover {
  color: #2b272f;
  background: #fafafa;
}

.footer {
  background: url(../images/bg-pattern-footer-desktop.svg) no-repeat, #fafafa;
  padding-bottom: 4rem;
}

.footer-header {
  padding: 4rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #846996;
}

.social-nav__icon {
  padding: 0 .3rem;
  cursor: pointer;
}

.social-nav__icon:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.footer-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}

.footer-links {
  text-transform: uppercase;
  color: #95a9c6;
  letter-spacing: .1rem;
  font-weight: 700;
}

.footer-links__item {
  padding: .3rem 0 .3rem;
}

.footer-links__item:nth-of-type(1) {
  margin-top: 2.5rem;
}

.footer-links__link {
  color: #2b272f;
  letter-spacing: 0;
}
/*# sourceMappingURL=main.css.map */