@use '../utilities/functions' as f;
@use '../utilities/variables' as v;

.btn{
    width: 26px;
    height: 24px;
    border-radius: 50%;
    background-color: f.nameGlobalVar(background-tasks);
    box-sizing:border-box;
    border-style:none;
    border:1px solid f.nameGlobalVar(primary-font-color);
    margin-right: 1rem;
    position: relative;
    cursor: pointer;


    &:hover{
        border: none;
    }


    &::after{
        content: "";
        position: absolute;
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        margin: -1px;
        background: v.$gradient-button;
        border-radius: 50%;
        z-index: -1;
    }
}