@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

hr {
  height: 1px;
  border: none;
  background-color: rgba(147, 147, 165, 0.466);
}

body.light {
  --logo: white;
  --background-site: #fafafa;
  --background-tasks: white;
  --primary-font-color: #9394a5;
  --secundary-font-color: #484b6a;
  --border-color: #d2d3db;
}

body.dark {
  --logo: white;
  --background-site: #161722;
  --background-tasks: #25273c;
  --primary-font-color: #4d5066;
  --secundary-font-color: #cacde8;
  --border-color: rgba(147, 147, 165, 0.466);
}

.btn {
  width: 26px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--background-tasks);
  box-sizing: border-box;
  border-style: none;
  border: 1px solid var(--primary-font-color);
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}
.btn:hover {
  border: none;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px;
  background: linear-gradient(135deg, #57ddff, #c058f3);
  border-radius: 50%;
  z-index: -1;
}

body.light {
  --logo: white;
  --background-site: #fafafa;
  --background-tasks: white;
  --primary-font-color: #9394a5;
  --secundary-font-color: #484b6a;
  --border-color: #d2d3db;
}

body.dark {
  --logo: white;
  --background-site: #161722;
  --background-tasks: #25273c;
  --primary-font-color: #4d5066;
  --secundary-font-color: #cacde8;
  --border-color: rgba(147, 147, 165, 0.466);
}

.header {
  height: 18.75rem;
  width: 100vw;
  padding: 1rem 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.background-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.title-site {
  color: var(--logo);
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.header-input {
  background-color: var(--background-tasks);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
  z-index: 1;
}

.form-new-task {
  width: 100%;
}

.new-task {
  background-color: var(--background-tasks);
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
  outline: none;
  border: none;
}

.submit {
  display: none;
}

.toggle-themes {
  cursor: pointer;
}

body.light {
  --logo: white;
  --background-site: #fafafa;
  --background-tasks: white;
  --primary-font-color: #9394a5;
  --secundary-font-color: #484b6a;
  --border-color: #d2d3db;
}

body.dark {
  --logo: white;
  --background-site: #161722;
  --background-tasks: #25273c;
  --primary-font-color: #4d5066;
  --secundary-font-color: #cacde8;
  --border-color: rgba(147, 147, 165, 0.466);
}

.todos {
  background: var(--background-site);
  min-height: calc(100vh - 300px);
  padding: 1rem 30%;
}

.todos-container {
  margin-top: -2.5rem;
  border-radius: 0.3rem;
  background-color: var(--background-tasks);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.199);
}

.todo-items {
  border-radius: 0.3rem 0.3rem 0 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}
.todo-item:hover .close-icon {
  visibility: visible;
}
.todo-item.checked .btn {
  background: url(/images/icon-check.svg) no-repeat center, linear-gradient(135deg, #57ddff, #c058f3);
  border: transparent;
}
.todo-item.checked .todo-text {
  color: var(--primary-font-color);
  text-decoration: line-through;
}

.close-icon {
  visibility: hidden;
  cursor: pointer;
}

.todo-text {
  width: 100%;
  font-size: 16px;
  color: var(--secundary-font-color);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--primary-font-color);
  border-top: 1px solid var(--border-color);
}

.filters-left {
  cursor: pointer;
  display: flex;
  gap: 0.2rem;
}
.filters-left:hover {
  color: var(--secundary-font-color);
}

.filters-type {
  display: flex;
  gap: 1rem;
}
.filters-type__item {
  cursor: pointer;
}
.filters-type__item:hover {
  color: var(--secundary-font-color);
}

.filters-clear {
  cursor: pointer;
}
.filters-clear:hover {
  color: var(--secundary-font-color);
}

body.light {
  --logo: white;
  --background-site: #fafafa;
  --background-tasks: white;
  --primary-font-color: #9394a5;
  --secundary-font-color: #484b6a;
  --border-color: #d2d3db;
}

body.dark {
  --logo: white;
  --background-site: #161722;
  --background-tasks: #25273c;
  --primary-font-color: #4d5066;
  --secundary-font-color: #cacde8;
  --border-color: rgba(147, 147, 165, 0.466);
}

/*# sourceMappingURL=main.css.map */
