@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap');

:root{
    --background-color: hsl(210, 46%, 95%);
    --font-color1: hsl(0, 0%, 100%);
    --font-color2: hsl(217, 19%, 35%);
}

*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: var(--font-color1);

}


.container{
    background: var(--background-color);
    height: 100vh;
    padding: 10%;
}

@media screen and (max-width:500px){
    .container{
        height: auto;
    }
}

.cards{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira";
    row-gap: 20px;
    column-gap: 20px;
}

@media screen and (max-width:500px){
    .cards{
        display: flex;
        flex-direction: column;
    } 
}

.card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.329);
}

.card__mainInfo{
    display: grid;
    grid-template-columns: 30px auto;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    "photo name"
    "photo verified";
    column-gap: 20px;
    margin-bottom: 15px;
}

.mainInfo__photo__figure{
    grid-area: photo;
    width: 100%;
}

.mainInfo__photo__img{
    width: 100%;
    border-radius: 100px;
}

.mainInfo__photo__img--Daniel{
    border: 2px solid  rgba(255, 255, 255, 0.336);
}

.mainInfo__photo__img--Patrick{
    border: 2px solid hsl(263, 55%, 52%);
}


.mainInfo__name{
    grid-area: name;
    align-self: flex-end;
    font-weight: 600;
}

.mainInfo__verified{
    grid-area: verified;
    opacity: 0.5;
}

.card--color .card__mainComment, .card--color>.card__comment, .card--color .mainInfo__name, .card--color .mainInfo__verified{
    color: var(--font-color2);
}

.card--Daniel{
    grid-area: Daniel;
    background: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:80% 0%;
}

.card--Jonathan{
    grid-area: Jonathan;
    background: hsl(217, 19%, 35%);
}

.card--Kira{
    grid-area: Kira;
    background: white;
}

.card--Jeanette{
    grid-area: Jeanette;
    background: white;
}

.card--Patrick{
    grid-area: Patrick;
    background: hsl(219, 29%, 14%);
}

.card__mainComment{
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.card__comment{
    opacity: 0.7;
    line-height: 18px;
}