@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


*{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(300, 43%, 22%);
    --primary-color-dark: hsl(303, 10%, 53%);
    --secundary-color: hsl(300, 24%, 96%);
    --pink-color: hsl(333, 80%, 67%);
}

.main{
    background: url(images/bg-pattern-top-desktop.svg) no-repeat, url(images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
    padding: 7%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "info ratings"
    "comments comments";
}

@media screen and (max-width:500px){
    .main{
        background: url(images/bg-pattern-top-mobile.svg) no-repeat, url(images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    }
}

@media screen and (max-width: 500px){
    .main{
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px 30px;

    }
}


.info{
    grid-area: info;
    padding-right: 20%;
}

@media screen and (max-width:500px){
    .info{
        padding-right: 0;
        margin-bottom: 10px;
    }
}

.info__title{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 60px;
}

@media screen and (max-width:500px){
    .info__title{
        padding: 5%;
    }
}

.info__text{
    color: var(--primary-color);
    line-height: 30px;
}

.ratings{
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 30px;
    /* justify-content: space-around; */
}

.ratings__part{
    background-color: var(--secundary-color);
    display: flex;
    padding: 15px 20px;
    column-gap: 30px;
    width: 450px;
    border-radius: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

@media screen and (max-width:500px){
    .ratings__part{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

.ratings__part:nth-child(2){
    align-self: center;
}

.ratings__part:nth-child(3){
    align-self: flex-end;
}

.ratings__part--right{

    margin-left: 20px;
}

.comments{
    grid-area: comments;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width:500px){
    .comments{
        margin-top: 60px;
        flex-direction: column;
        text-align: start;
        row-gap: 25px;
    }
}

.comments__card{
    background: var(--primary-color);
    height: 90%;
    padding: 30px;
    border-radius: 10px;
}

.comments__card:nth-child(2){
    align-self: center;
}

.comments__card:nth-child(3){
    align-self: flex-end;
}


.card__info{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "image name"
    "image buyer";
}

.card__info__figure{
    grid-area: image;
    width: 100%;
}

.card__info__img{
    width: 100%;
    border-radius: 100px;

}

.card__info__name{
    grid-area: name;
    align-self: end;
    padding: 3px 20px;
    color: white;
}

.card__info__buyer{
    grid-area: buyer;
    align-self: start;
    padding: 3px 20px;
    color: var(--pink-color);
}

.card__comment{
    color: hsl(0, 0%, 100%);
    font-weight: 200;
    padding-top: 20px;
    line-height: 25px;
}









