* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 15px;
}

.burger {
  display: none;
}

/* ---------- Responsive 1100px ---------- */
/* ---------- Responsive 1000px ---------- */
/* ---------- Responsive 700px ---------- */
/* ---------- Responsive 600px ---------- */
/* ---------- Responsive 500px ---------- */
body {
  overflow-x: hidden;
}

.section {
  padding: 0 8rem;
}

.header {
  height: 650px;
  max-height: 100vh;
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
}

.nav {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links {
  display: flex;
}
.nav-links li {
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 30%);
  width: 0;
  height: 2px;
  color: white;
  background-color: white;
  transition: all 0.2s ease-in;
  opacity: 0;
  border-radius: 3px;
}
.nav-link:hover:before {
  content: "";
  width: 60%;
  opacity: 1;
}

.title-site {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  width: 50%;
  min-width: 500px;
  padding: 2rem;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  margin-top: 8rem;
  margin-left: 1px;
}

/* ----------  Interactive section  ---------- */
.interactive {
  margin-top: 9rem;
}

.interactive-content {
  position: relative;
}
.interactive-content img {
  width: 100%;
}

.interactive-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: white;
  padding: 5rem 0 0 5rem;
}
.interactive-text__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.interactive-text__paragraph {
  font-family: "Alata", sans-serif;
  line-height: 1.8rem;
  margin-top: 2rem;
  color: #8c8c8c;
}

/* ----------  Gallery section  ---------- */
.gallery {
  margin-top: 9rem;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.gallery-header__button {
  padding: 0.8rem 1.5rem;
  text-align: center;
  color: black;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.gallery-header__button:hover {
  color: white;
  background-color: black;
}

.gallery-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.8rem;
}

.container-photo {
  position: relative;
}
.container-photo:hover > .container-photo__img {
  opacity: 0.3;
}
.container-photo:hover > .container-photo__title {
  color: black;
}
.container-photo__img {
  position: relative;
  filter: brightness(0.8);
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in;
}
.container-photo__title {
  position: absolute;
  bottom: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* ----------  Footer section  ---------- */
.footer {
  margin-top: 7rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-links {
  display: flex;
  margin-top: 1.5rem;
}

.footer-nav-link {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  font-family: "Alata", sans-serif;
  position: relative;
}
.footer-nav-link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30%);
  width: 0;
  height: 2px;
  color: white;
  background-color: white;
  transition: all 0.2s ease-in;
  opacity: 0;
  border-radius: 3px;
}
.footer-nav-link:hover::before {
  content: "";
  width: 60%;
  opacity: 1;
}

.footer-social {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.footer-social__icons img {
  margin-left: 0.6rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.2s ease-in;
}
.footer-social__icons img:hover {
  border-bottom: 2px solid white;
}
.footer-social__copyright {
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
}

/* ----------  Responsive  ---------- */
@media screen and (max-width: 1100px) {
  .interactive-text__title {
    font-size: 2.5rem;
  }

  .container-photo__title {
    font-size: 1.8rem;
    padding: 1.8rem;
  }
}
@media screen and (max-width: 1000px) {
  .section {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .header {
    padding: 0;
  }

  .nav {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 13vh;
    background-color: black;
    z-index: -10;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    z-index: 5;
  }

  .nav-active::before {
    transform: translateX(0%);
    z-index: 5;
  }

  .logo {
    padding-left: 6rem;
    z-index: 10;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    overflow-x: hidden;
    top: 13vh;
    width: 100%;
    height: 87vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    background-color: black;
  }
  .nav-links li {
    margin-left: 6rem;
    padding: 1rem 0;
  }

  .nav-link {
    font-family: "Josefin Sans", sans-serif;
    opacity: 0;
    transition: all 0.5s ease-in;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.85);
  }

  .burger {
    display: block;
    padding-right: 6rem;
    z-index: 10;
  }
  .burger__line, .burger__line::after, .burger__line::before {
    width: 25px;
    height: 3px;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
  }
  .burger__line::before {
    content: "";
    position: absolute;
    top: -8px;
  }
  .burger__line::after {
    content: "";
    position: absolute;
    top: -16px;
  }

  .header-active {
    padding: 0;
  }

  .navlinks-active {
    transform: translateX(0%);
  }
  .navlinks-active li a {
    opacity: 1;
  }

  .title-site {
    margin-left: 6rem;
  }

  .interactive-text {
    padding: 2rem 0.2rem 0 2rem;
    width: 90%;
  }
  .interactive-text__title {
    font-size: 2rem;
  }
  .interactive-text__paragraph {
    margin-top: 1.2rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
  }

  .container-photo__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header {
    padding: 0;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    height: 100vh;
  }

  .logo {
    padding-left: 3rem;
  }

  .burger {
    padding-right: 3rem;
  }

  .title-site {
    width: auto;
    min-width: unset;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .interactive-text {
    position: static;
    text-align: center;
  }
  .interactive-text__title {
    font-size: 3rem;
  }

  .gallery-header {
    justify-content: center;
  }
  .gallery-header__button {
    display: none;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-grid {
    display: flex;
    flex-direction: column;
  }

  .button-small {
    padding: 0.8rem 1.5rem;
    text-align: center;
    color: black;
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.4rem;
    font-size: 1.5rem;
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 2.5rem;
  }
  .button-small:hover {
    color: white;
    background-color: black;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-links {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-nav-link {
    margin-right: 0;
  }

  .footer-social {
    text-align: center;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .section {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .header {
    padding: 0;
  }

  .title-site {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .title-site {
    font-size: 2.5rem;
  }

  .interactive-text {
    padding: 1rem;
    width: 100%;
  }
  .interactive-text__title {
    font-size: 2rem;
    font-weight: bold;
  }

  .gallery {
    margin-top: 5rem;
  }

  .gallery-header__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .gallery-grid {
    margin-top: 3rem;
  }

  .container-photo__title {
    font-size: 1.7rem;
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
