@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: hsl(257, 40%, 49%);
    --secundary-color: hsl(300, 69%, 71%);
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    height: 100vh;
    background: url(images/bg-desktop.svg);
    background-size: cover;
    background-color: var(--primary-color);
    position: relative;
}

@media screen and (max-width: 500px){
    body{
        height: auto;
        background: url(images/bg-mobile.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-color: var(--primary-color);
    }
}

.header__logo{
    height: 20%;
    padding-left: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

@media screen and (max-width:500px){
    .header__logo{
        margin: 40px 0 80px;
        padding-left: 50px;
    }
}


.logo__img{
    height: 50%;
    max-height: 50px;
}

@media screen and (max-width:500px){
    .logo__img{
        width: 40%;
    }
}

.main__container{
    width: 100%;
    height: calc(80%-100px);
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-areas: 
    "illustration texts";
}

@media screen and (max-width: 500px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "illustration" 
        "texts";
    }
}

.container__illustration{
    grid-area: illustration;
    padding: 12px 0 0 70px;
}

@media screen and (max-width:500px){
    .container__illustration{
        padding: 0;
        width: 80%;
        justify-self: center;
    }
}


.illustration{
    width: 100%;
}

.container__texts{
    padding: 60px 60px 0 50px;
}

@media screen and (max-width:500px){
    .container__texts{
        text-align: center;
    }
}

.text__title{
    font-weight: 600;
    font-size: 2.3em;
    padding-right: 40px;
}

@media screen and (max-width:500px){
    .text__title{
        font-size: 1.5em;
        padding-right: 0;
    }
}

.text__paragraph{
    font-family: 'Open Sans';
    padding-top: 30px;
    line-height: 25px;
}

@media screen and (max-width:500px){
    .text__paragraph{
        font-size: 15px;
        padding-top: 0;
        margin-top: 20px;
    }
}

.text__button{
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.534);
    background: white;
    color: var(--primary-color);
    text-decoration: none;
}

@media screen and (max-width:500px){
    .text__button{
        margin-top: 25px;
        padding: 10px 80px;
    }
    
}

.text__button:hover{
    background: var(--secundary-color);
    color: white;
}

.footer__icons{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 60px;
    padding-bottom: 40px;
}

@media screen and (max-width:500px){
    .footer__icons{
        position: static;
        justify-content: center;
        padding: 0;
        margin: 80px 0 30px;
    }
}

.fab{
    text-decoration: none;
    margin-right: 15px;
    padding: 10px; 
    border-radius: 100px;
    border: 1px solid white;
}

.fa-facebook-f{
    padding: 10px 13px;
}

.fab:hover{
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
}