$bg-footer: hsl(0, 0%, 98%);
$body-main: hsl(256, 26%, 20%);
$text-color: hsl(216, 30%, 68%);
$nav-color: hsl(276, 18%, 50%);
$bg-header-color: hsl(270, 9%, 17%);
$font-headings: 'DM Serif Display', serif;
$font-body:  'Karla', sans-serif;


@mixin btn($color){
    color: $color;
    padding: .8rem 1.5rem;
    border: 2px solid $color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
    transition: all .3s ease-in;
}

@mixin padding-topBottom($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin headings($size){
    font-family: $font-headings;
    font-size: $size;
    font-weight: 400;
}


