@import 'utilities';
@import 'resets';
@import 'hamburger';


// @import 'fonts';

.section{
    padding: 0 7rem;
    font-family: 'Karla', sans-serif;
}

.nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.btn{
    @include btn($bg-header-color);

}

.navbar{
    display: flex;
    font-family: 'DM Serif Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
    gap: 2rem;

    &__link{
        text-decoration: none;
        color: $nav-color;

        &:hover{
            font-weight: 700;
            color: $bg-header-color;
        }

        &--dark{
            color: $bg-header-color;
            padding: .3rem 1.5rem;
            border: 2px solid $bg-header-color;

            &:hover{
                font-weight: 400;
                color: $bg-footer;
                background: $bg-header-color;
            }
        }
    }
}

// <----- HEADER ----->

.header{
    padding-top: 6rem;
    height: 90vh;
    background: $bg-header-color;
    position: relative;
    
    &::before{
        content: url('../images/bg-pattern-intro-left-desktop.svg');
        position: absolute;
        top: 70%;
        left: 0;
    }

    &::after{
        content: url('../images/bg-pattern-intro-right-desktop.svg');
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
    }

    &__container{
        display: flex;
        gap: 20px;
        color: #fff;
    }

    &__inf{
        padding-top: 4rem;
        position: relative;
    
        &::before{
            content: "";
            position: absolute;
            width: 9rem;
            height: 2px;
            top: 0;
            left: 0;
            background: #fff;
        }
        
        h1{
            @include headings(5rem);
            line-height: 3.5rem;
        }
    
        p{
            padding: 2rem 0;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }

    &__btn{
        @include btn(#fff);
        font-size: 1rem;
        padding: .6rem 2rem;

        &:hover{
            background-color: #fff;
            color: $bg-header-color;
        }
    }
}


// <----- MAIN ----->
.main{
    @include padding-topBottom(18rem, 5rem);
    background: #fff;

    &__title{
        @include headings(4rem);
        @include padding-topBottom(3rem, 3rem);
        position: relative;

        &::before{
            content: "";
            position: absolute;
            width: 9rem;
            height: 1px;
            top: 0;
            left: 0;
            background: $nav-color;
        }
    }

    &__sections{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        h3{
            @include padding-topBottom(1rem, 1rem);
            @include headings(1.5rem)
        }

        p{
            line-height: 1.5rem;
            color: $body-main;
        }
    }
}

.main-logo{
    margin: 6rem 0 4rem 0;
    background: url(../images/bg-pattern-intro-right-desktop.svg) 100% no-repeat,
    $bg-header-color;
    padding: 3rem 3rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
        @include headings(3rem);
        width: 50%;
        line-height: 3rem;
    }

    &__btn{
        @include btn($bg-footer);

        &:hover{
            color: $bg-header-color;
            background: $bg-footer;
        }
    }
}


// <----- FOOTER ----->
.footer{
    background: url(../images/bg-pattern-footer-desktop.svg) no-repeat,
    $bg-footer;
    padding-bottom: 4rem;
}

.footer-header{
    padding: 4rem 0 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid $nav-color;
}

.social-nav__icon{
    padding: 0 .3rem;
    cursor: pointer;

    &:hover{
        filter: brightness(.5);
    }
}

.footer-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;  
}

.footer-links{
    text-transform: uppercase;
    color: $text-color;
    letter-spacing: .1rem;
    font-weight: 700;

    &__item{
        padding: .3rem 0 .3rem;

        &:nth-of-type(1){
            margin-top: 2.5rem;
        }
    }

    

    &__link{
        color: $bg-header-color;
        letter-spacing: 0;
    }
}
